#div1
{
  border-radius: 25px;
  border: 4px solid #ffffff;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  
}
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    background-color: black;
}

#imageDiv
{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

