#div1
{
  border-radius: 25px;
  border: 4px solid #ffffff;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  
}
#nation
{
  color: white;
}
#diplo
{
  color: rgb(241, 153, 153);
}
#unrest
{
  color: rgb(209, 153, 241);
}
#econ
{
  color: rgb(228, 241, 153);
}
#subdiv
{
  color: rgb(153, 241, 226);
}
#geot
{
  color: rgb(153, 241, 180);
}
#cult
{
  color: rgb(153, 159, 241);
}
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    background-color: black;
}

#imageDiv
{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

