body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
.hide {
  display: none;  
}

.myDIV:hover + .hide {
  display: block;
  color: white;
}
