#sectionsCustom
{
    position: fixed;
    font-size: 90%;
    bottom: 10px;
    text-align: left;
}
input[type="checkbox"]
{
    width: 50px;
    height: 50px;
}

.partyList
{
    width: 500px;
    height: 60px;
    text-align: center;
    color: rgb(11 62 53);
    background-color: rgb(153 241 226 / 0.1);
    border-color: rgb(153 241 226 / 0.1);
    font-size: 30pt;
}
.demoList
{
    width: 500px;
    height: 60px;
    text-align: center;
    color: rgb(51 26 7);
    border-color: rgb(255 190 137 / 0.1);
    background-color: rgb(255 190 137 / 0.1);
    font-size: 30pt;
}

#div1
{
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}
#NationSection
{
    background-color: rgb(101 88 156 / 0.1);
    color: rgb(16 9 43);
}
#DiplomacySection
{
    color: rgb(60 7 7);
    background-color: rgb(241 153 153 / 0.1);
}
#DemographicSection
{
    color: rgb(57 28 5);
    background-color: rgb(255 190 137 / 0.1);
}
#UnrestSection
{
    color: rgb(32 6 46);
    background-color: rgb(209 153 241 / 0.1);
}
#EconomySection
{
    color: rgb(57 62 30);
    background-color: rgb(228 241 153 / 0.1);
}
#GovernmentSection
{
    color: rgb(19 85 73);
    background-color: rgb(153 241 226 / 0.1);
}
#GeographySection
{
    color: rgb(15 66 30);
    background-color: rgb(153 241 180 / 0.1);
}
#CultureSection
{
    color: rgb(9 11 50);
    background-color: rgb(153 159 241 / 0.1);
}
#CulturePlusSection
{
    color: rgb(29 32 71);
    background-color: rgb(203 206 248 / 0.1);
}
select{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    accent-color: red;
    background-color: #352481;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    background-color: white;
}

#imageDiv
{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
